.app {
  padding: 30px;
}

.ips {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.submit {
  margin-top: 1rem;
}


.text-area {
  width: 100%;
  height: calc(100vh - 350px);
}

.text-area textarea {
  width: 100%;
  height: 100%;
}

/* Adjust the height and padding for dropdown buttons */
.dropdown-container {
  padding-bottom: 5px;
}

.dropdown-button {
  height: 30px;
  margin-bottom: 5px;
}

.mb-3 {
  margin-right: 5px;
}

.noteFont {
  font-size: 14px;
  display: inline;
}

.text-area-container {
  display: flex;
  justify-content: space-between;
}

.text-area {
  flex: 1;
  margin: 0 10px;
}

.text-area h5 {
  text-align: center;
}

.ChangeLogPage .text-primary {
  color: rgb(127, 120, 22) !important
}

.message {
  margin-top: 6.5rem;
  width: 50%;
  height: 30px;
  /* ensure in centre vertically of message */
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable-area {
  overflow-y: auto;
  height: 80vh;
  /* Adjust the height as needed */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.selected-code {
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.related-codes {
  margin-top: 10px;
  margin-bottom: 10px;
}

.floating-alert {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1050;
  width: auto;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.custom-button {
  background-color: rgb(27, 27, 112) !important;
  border-color: rgb(102, 51, 153) !important;
}

.custom-button:hover {
  background-color: rgb(47, 47, 212) !important;
  border-color: rgb(102, 51, 153) !important;
}

.clickable {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clickable:hover {
  background-color: #f0f0f0;
  /* Light grey background on hover */
}

.selected {
  font-size: x-large;
}

.selected .flagimage {
  width: 40px;
}

/* By default, show the details section beside the search results */
.search-section {
  order: 1;
}

.details-section {
  order: 2;
}

.custom-tooltip li {
  text-align: left !important;
}

/* Highlight for header row */
.highlight-header th {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Highlight for base rows */
.highlight-base td {
  background-color: #e8f4ff;
  /* font-weight: bold; */
}

.highlight-final {
  background-color: rgb(227, 220, 82) !important;
  font-weight: bold;
}



/* For mobile aspect (small screens), stack the details above the search results */
@media (max-width: 768px) {
  .search-section {
    order: 2;
  }

  .details-section {
    order: 1;
    /* Details will appear below search on mobile screens */
  }

  .scrollable-area {
    max-height: 300px;
    /* Adjust height for mobile, if necessary */
    overflow-y: auto;
  }

  p {
    font-size: small;
  }

  .lead {
    font-size: medium !important;
  }

  h1 {
    font-size: x-large !important;
  }

  h2 {
    font-size: large !important;
  }

  h3 {
    font-size: large !important;
  }

  h4 {
    font-size: medium !important;
  }

  .dmicp-code {
    font-size: medium !important;
    /* Adjust this value as needed */
  }

  .drop2-titles {
    font-size: small !important;
    /* Adjust this value as needed */
  }

  ul {
    font-size: small !important;
    /* Adjust this value as needed */
  }

  th {
    font-size: small !important;
    /* Adjust this value as needed */
  }

  td {
    font-size: small !important;
    /* Adjust this value as needed */
  }

  /* make the buttons smaller with smaller font size */
  .btn {
    font-size: small !important;
    /* Adjust this value as needed */
  }
}